<% if @my_name.present? %>
  <h1> <%= t('welcome') + " " + @my_name %> </h1>
<% else %>
  <h1> <%= t('welcome') %> </h1>
<% end %>

<p> <%= link_to 'Português', '/?locale=pt-BR' %></p>
<p> <%= link_to 'English', root_path(locale: 'en') %></p>

<p> <strong>Data:</strong> <%= l(Date.today) %></p>
<p> <strong><%= t('language_in_use')%> </strong><%= I18n.t('actual_locale') %></p>
<p> <strong><%= t('your_environment') + ": " %></strong> <%= ambiente_rails %></p>

<ul>
    <%= render "menu" %>
</ul>