<p style="color: green"><%= notice %></p>

<h1><%= t('mining_types') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= @minning_types.human_attribute_name(:description)%></th>
      <th><%= @minning_types.human_attribute_name(:acronym)%></th>
    </tr>
  </thead>
  <tbody>
    <% @minning_types.each do |minning_type| %>
      <tr>
        <td><%= minning_type.description %></td>
        <td><%= minning_type.acronym %></td>
        <td><%= link_to t('show'), minning_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('add'), new_minning_type_path, class: "btn btn-primary" %>
