<p style="color: green"><%= notice %></p>

<%= render @minning_type %>

<div>
  <%= link_to t('edit'), edit_minning_type_path(@minning_type) %> |
  <%= link_to t('back'), minning_types_path %>

  <%= button_to t('delete'), @minning_type, method: :delete %>
</div>
