<p style="color: green"><%= notice %></p>

<h1><%= t('coins') %></h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th><%= @coins.human_attribute_name(:description)%></th>
      <th><%= @coins.human_attribute_name(:acronym)%></th>
      <th><%= @coins.human_attribute_name(:url_image)%></th>
    </tr>
    </thead>
<tbody>
  <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.description %></td>
      <td><%= coin.acronym %></td>
      <td><%= image_tag coin.url_image, width: 25, heigth: 25 %></td>
      <td><%= link_to t('show'), coin %></td>
    </tr>
  <% end %>

<%= link_to t('add_new'), new_coin_path %>
</tbody>
</table>
